.main__section{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .article__main__box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .article__box{
    width: 400px;
    margin: 15px;
    max-width: 400px;
    min-width: 400px;
 
  }
  .article__box__header{
    border-left: #b0ff00;
    margin: 0px 0px  0px 28px;
    height: 250px;
 
  }
  .fa-graduation-cap{
    background-color: #b0ff00;
    color: rgb(54, 49, 49);
    /* padding: 15px; */
    font-size: 22px;
    border-radius: 50%;
    margin: 0;
  }
  .h1__main3{
    color: #b0ff00;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: lighter;
     font-size: 23px;
     font-variant: small-caps;
     margin: 0;
     padding: 15px 0px 5px 35px;
  }
  .p__main3{
    color: #c1bfb7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    margin: 0;
    padding: 15px 20px 10px 35px;
  }